.mainBox {
  width: 66%;
  overflow-x: auto;
  border: 1px solid #cccdcf;
  border-radius: 4px;
  height: fit-content;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px 30px;
  height: fit-content;
  min-width: 840px;
}

.title {
  font-size: 16px;
  line-height: 140%;
  color: #00050f;
}

.thead {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
}

.thead span {
  font-size: 16px;
  line-height: 140%;
  color: #00050f;
}

.head1 {
  width: 35%;
  padding-right: 10px;
}

.head2 {
  width: 20%;
  padding-right: 10px;
}

.head3 {
  width: 25%;
  padding-right: 10px;
}

.head4 {
  width: 20%;
  padding-right: 10px;
}

.trow {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
}

.trow span {
  word-break: break-all;
}
