
@import './main.scss';
@import './variables.scss';
@import './style.scss';

@font-face {
   font-family: "Lack-Regular";
   src: url("../fonts/Lack-Regular.eot");
   src: url("../fonts/Lack-Regular.eot?#iefix") format("embedded-opentype"),
      url("../fonts/Lack-Regular.svg#Lack-Regular") format("svg"), url("../fonts/Lack-Regular.ttf") format("truetype"),
      url("../fonts/Lack-Regular.woff") format("woff"), url("../fonts/Lack-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

* {
   font-family: "Lack-Regular";
   font-size: 16px;
   color: $c-main;
   box-sizing: border-box;
   text-decoration: none;
}
body {
   margin: 0;
   padding: 0;
   background: linear-gradient(91.73deg, rgba(235, 237, 240, 0) 1.03%, #EBEDF0 100%);
}
ul,
li,
p,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
nav {
   padding: 0;
   margin: 0;
   list-style: none;
   font-weight: normal;
}
input,
textarea {
   outline: none;
   box-shadow: none;
   // -webkit-appearance: none;
   // -moz-appearance: none;
   // appearance: none;
}
button {
   border: none;
   background: none;
   cursor: pointer;
   outline: none;
} 