.info {
  display: flex;
  flex-wrap: wrap;
}

.charts {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.overviewSection {
  display: flex;
  padding-left: 15px;
}
.donutsWrapper {
  display: flex;
  flex-direction: column;
  width: 34%;
}

.chart50w {
  width: 50%;
}

@media (max-width: 1400px) {
  .charts {
    flex-direction: column;
  }
  .chart50w {
    width: 100%;
  }
  .donutsWrapper {
    flex-direction: row;
    width: 100%;
  }
  .overviewSection {
    flex-direction: column;
    gap: 30px;
  }
}
